.body-container{
    background-color: white;
}
#nav-up{    
    background-color: #0D98BA;
    color: #000C66;
    opacity: 0.3;
    position: fixed;
    bottom: 4%;
    right: 3%;
    z-index: 4000;
    // width: 70px;
    border-radius: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#nav-up>.up-ic{
    cursor: pointer;
    border-bottom: 1px solid #0D98BA;
}
#nav-up:hover,#nav-up:focus{
    opacity: 0.6;
    background-color: #000C66;
    color: #0D98BA;
}
#nav-up>p{
    font-size: 30px;
    margin: 1px auto;
    text-align: center;
    --badge-color: #ffffff98;
    --badge-bg-color: #9b6ab84e;
}
#nav-up>p:hover{
    --badge-color: #0D98BA;
    --badge-bg-color: #000c66d3;
}
.with-icon{
    margin-left: 8px !important;
    cursor: context-menu;
    width: 100%;
    border-bottom: none;
}
.badge-nav-up{
    position: relative;
    bottom: 6px;
    right: 10px;
    font-size: 13px;
    color: var(--badge-color);
    background-color: var(--badge-bg-color)
}
#outside-closer-active{
    background-color: #3a353597;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    z-index: 1050;
    position: fixed;
    top:10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
@keyframes --add-to-cart-card {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}
#outside-closer-active>div{
    width: 50%;
    min-height: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px #081d22;
    animation-name: --add-to-cart-card;
    animation-duration: 0.5s;
}
#outside-closer-active table{
    width: 100%;
}
#add-card-details{
    font-size: 16px;
}
#close-add-card{
    cursor: pointer;
    font-size: large;
    width: fit-content;
}
#add-card-status{
    font-size: 20px;
    font-weight: bolder;
    color: #11d13e;
}
#add-card-options{
    display: flex;
    position: relative;
    top: 50px;
    width: 90%;
    justify-content: space-evenly;
}
#add-card-options>div{
    background-color: #0D98BA;
    width: 45%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
#add-card-options>div:hover,#add-card-options>div:focus{
    box-shadow: 0px 0px 2px 1px #081d22;
}
#add-card-options p{
    margin: 6px 2px;
    color: #ffffff;
}